body {
    background-color: blue;
}

header {
    height: 150px;
    background-color: blueviolet;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 70px;
    text-align: center;
}

.menu {
    height: 1500px;
    background-color: coral;
    width: 18%;
    float: left;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.content {
    height: 750px;
    background-color: orangered;
    width: 80%;
    float: right;
}

footer {
    height: 100px;
    background-color: yellow;
    clear: both;
}

body {
    background: rgb(137, 255, 2);
}

.gradient-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.sliding-button {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    border-image-slice: 1;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.sliding-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.sliding-button:hover {
    background: rgba(255, 255, 255, 0);
}

.sliding-button:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}